@font-face {
  font-family: 'Barrio';
  src: url('css/Barrio-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuktaVaani';
  src: url('css/MuktaVaani-Regular.ttf') format('truetype');
}


h1 {
 background-color: #798086;
 color: #AEC6C6;
 display: block;
 max-width: 100%;
 padding: 1em;
 font-size: 40px;
 font-family: 'Barrio';
 text-align: center;
}

header {
  max-width: 100%;
}

img{
  margin-bottom: 2em;
  max-width: 90%;
  padding: 1em;
}


article {
  max-width: 100%;
  text-align: center;
  font-family: 'MuktaVaani';
  font-size: 16px;
  padding-bottom: 0.5em;
}

.team , .services , .testimonials{
  text-align: center;
  text-decoration: none;
  font-family: 'Barrio';
  font-size: 20px;
  background-color: #AEC6C6;
  color: white;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
}

.copyright {
font-size: 10px;
}

footer {
  font-size: 10px;
  background-color: #ABABAB;
  max-width: 100%;
  padding: 1em;
}

nav ul {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  list-style: none;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  font-size: 16px;
  background-color: #ABABAB;
}

nav ul li {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  max-width: 100%;
}

.navlink {
  color: white;
  text-decoration: none;

}
