@font-face {
  font-family: 'Barrio';
  src: url('css/Barrio-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuktaVaani';
  src: url('css/MuktaVaani-Regular.ttf') format('truetype');
}


h1 {
 background-color: #798086;
 color: #AEC6C6;
 display: block;
 max-width: 100%;
 padding: 1em;
 font-size: 40px;
 font-family: 'Barrio';
 text-align: center;
}

header {
  max-width: 100%;
}

img{
  margin-bottom: 2em;
  max-width: 90%;
  padding: 1em;
}


nav ul {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  font-size: 16px;
  background-color: #ABABAB;
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  max-width: 100%;
}

.navlink {
  color: white;
  text-decoration: none;
}

 p{
  text-align: center;
  padding-bottom: 1.5em;
  font-family: 'MuktaVaani';
}

.team , .services , .testimonials{
  text-align: center;
  font-family: 'Barrio';
  font-size: 26px;
  background-color: #AEC6C6;
  color: #FFFFFF;
  display: block;
  padding-top: 2em;
  padding-bottom: 1em;
}

.info{
  background-color: #ABABAB;
}

.copyright{
font-size: 10px;
background-color: #ABABAB;
padding-top: 1em;
}

.contact{
  max-width: 100%;
  text-align: center;
  font-family: 'MuktaVaani';
  font-size: 16px;
  padding: 0.5em;
  background-color: #ABABAB;
}

@media (min-width: 600px){

h1{
    font-size: 75px;
  }

nav ul {
font-size: 36px;
}

nav ul li{
  font-size: 24px;
}

img {
margin-left: 15em;
margin-top: 2em;
box-shadow: 2px 0px 5px 2px #666;
}

p{
  font-size: 32px;
}

.team , .services , .testimonials{
  font-size: 56px;
  text-decoration: none;
}

.info{
  background-color: #ABABAB;
}

.copyright{
  font-size: 24px;
}

.contact{
   font-size: 36px;
}

@media (min-width: 1140px){
  img{
    margin-bottom: 2em;
    max-width: 100%;
    align-items: center;
  }
  .info{
    background-color: #ABABAB;
  }

  .copyright{
    font-size: 18px;
  }

  .contact{
     font-size: 24px;
  }
}
